<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar>
      <div>
        Bitcoin Transactions
        <app-status-chip [active]="transactionService.subscribed$ | async">
        </app-status-chip>
      </div>
      <div class="spacer"></div>
      <div>Queued: {{ (transactionService.keys$ | async).length }}, </div>
      <div>Count: {{ transactionService.count$ | async }}</div>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <div>Avg Transaction Size: {{ transactionService.avgSize$ | async }}</div>
        <app-line-chart
          *ngIf="(transactionService.iterables$ | async).length > 0"
          [data]="transactionService.iterables$ | async"
        ></app-line-chart>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="transactionService.subscribed$ | async"
          (click)="subscribe()"
        >
          Subscribe
        </button>

        <button
          mat-raised-button
          color="warn"
          [disabled]="(transactionService.subscribed$ | async) === false"
          (click)="unsubscribe()"
        >
          Un-Subscribe
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
